[global_config]
  title_transmit_fg_color = "#d6d6d6"
  title_transmit_bg_color = "#222529"
  title_inactive_fg_color = "#d6d6d6"
  title_inactive_bg_color = "#222529"

[profiles]
  [[default]]
    palette = "#222529:#cd909b:#56afa0:#e2aea2:#87c9e5:#cea7de:#78b6ad:#cbcdcd:#222529:#cd909b:#56afa0:#e2aea2:#87c9e5:#cea7de:#78b6ad:#d6d6d6"
    foreground_color = "#d6d6d6"
    background_color = "#222529"
    cursor_color = "#d6d6d6"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = default
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
